body{
  text-align: justify;  
  font-family: "Lato";
}

@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');


pre:not([class]) {
    background-color: #dff0d8; /* Color del fondo del codigo*/ 
}

