body{
  text-align: justify;  
  font-family: "Lato";
}

@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');


pre:not([class]) {
    background-color: #dff0d8; /* Color del fondo del codigo*/ 
}



pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #81cd9e;
    border: 1px solid #ccc;
    border-radius: 4px;
}